In [2]:
import pandas as pd

In [ ]:
max_lat=.3833*10000
max_long=.7840*10000
vlat=lat*10000
vlong=long*10000
value=vlat*max_long+vlong

In [2]:
# 1m = .00001
#1km= .01
#10km=.1
#20km=.2
#100km=1

#lat_range=.4 , .5
#long_range=.8 , .9

In [ ]:
for i in range(5):
    for j in range(9):
        lat=19.2+i*.1
        long=72.7+j*.1

In [23]:
ilat=19.2796 
ilong=72.7831
max_lat=3833
max_long=7840
def to_block(latv,longv):
    global ilat,ilong,max_lat,max_long
    lat=(latv-ilat)*10000
    long=(longv-ilong)*10000
    block_r=lat*max_long+long
    return block_r
def to_coordinates(num):
    global ilat,ilong,max_lat,max_long
    lat=int(num/max_long)-1
    long=num-(lat)*max_long
    return(ilat+lat/10000,ilong+long/10000)

In [24]:
to_block(round(19.2796+0.3833,4) ,round(72.7831+0.7840,4))

30058560.000000153

In [25]:
to_coordinates(30058560)

(19.662899999999997, 73.56710000000001)

In [11]:
(round(19.2796+0.3833,4) ,round(72.7831+0.7840,4))

(19.6629, 73.5671)

In [10]:
to_block(round(19.2796,4) ,round(72.7831,4))

0.0

In [1]:

arr=[[0,0,0] for i in range(max_lat*max_long)]

In [4]:
int(1222.12)/1000

1.222

In [10]:
for i in range(max_lat*max_long):
    dec=int(i/max_long)
    arr[i][0]=ilat+round(dec/10000,4)
    arr[i][1]=ilong+round((i-dec*max_long)/10000,4)

In [11]:
arr[max_lat*max_long-1]

[19.662799999999997, 73.56700000000001, 0]

In [12]:
import numpy as np

In [14]:
na=np.array(arr)

In [15]:
data=pd.DataFrame(na)

In [16]:
data

                0        1    2
0         19.2796  72.7831  0.0
1         19.2796  72.7832  0.0
2         19.2796  72.7833  0.0
3         19.2796  72.7834  0.0
4         19.2796  72.7835  0.0
...           ...      ...  ...
30050715  19.6628  73.5666  0.0
30050716  19.6628  73.5667  0.0
30050717  19.6628  73.5668  0.0
30050718  19.6628  73.5669  0.0
30050719  19.6628  73.5670  0.0

[30050720 rows x 3 columns]

In [19]:
data.to_csv('data.csv')