In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("latlong.csv")

In [3]:
data

   Unnamed: 0  Unnamed: 1
0   28.389777   77.055587
1   28.389791   77.054970
2   28.394027   77.065865
3   28.421017   77.051921
4   28.445797   77.076041
5   28.451074   77.069458

In [4]:
data=data.values

In [5]:
arr=[]
for i in range(5):
    lat=data[i][0]
    nxtlat=data[i+1][0]
    long=data[i][1]
    nxtlong=data[i+1][1]
    dlat=nxtlat-lat
    dlong=nxtlong-long
    for j in range(20):
        arr+=[[round(lat+dlat*j/20,7),round(long+dlong*j/20,7)]]

In [6]:
pd.DataFrame(arr).to_csv('final.csv')